.login-window {
    padding: 10px;
}

.login-window .form-control.ng-invalid.ng-dirty {
    border-color: red;
}

.help-block {
    color: red;
    font-size: 9px;
    font-weight: 600;
    padding: 0 2px;
}

button {
  width: 100%;
}
